<template>
  <div class="row p-0 p-md-0 awardsWrappers h100">

    <div class="col-12 centerer">
      <p class="text-left ft-4 ff-35 p-2 pl-md-4 pr-md-4 m-0 mt-3 mb-4" v-html="content.about"></p>
    </div>

    <div class="col-12 brdr brdr-b">
      <div class="roundLogoGreenAboutMobile basePosition d-md-none">
        <div class="roundLogoGreen rotating"></div>
      </div>
    </div>

    <div class="row h50">

      <div class="col-12 col-md-3 hideMeHeight centerer">
        <div class="roundLogoLeft  d-none d-md-block">
          <div class="roundLogoGreen rotating"></div>
        </div>
      </div>

      <div class="col-12 col-md-7 line-height-16 centerer">
        <p class="text-left ft-2 ff-14 p-4 m-0" v-html="content.about2"></p>
      </div>

    </div>

  </div>
</template>

<script>
    import _ from 'lodash';

    export default {

    props: {
        //msg: String,
    },

    data: function(){
        return { lazyLoad: 'hidenContainer', expanded:0 }
    },

    mounted: function(){
        let self = this;
        setTimeout(function () {
          self.lazyLoad = 'showContainer';
        }, 300);
    },

    computed: {
        content: function () {
            var ret = {};

            if(!_.get(this.$store.state.indx, 'about.meta.content_about'))return ret;

            ret['about'] = _.get(this.$store.state.indx, 'about.meta.content_about');
            ret['about2'] = _.get(this.$store.state.indx, 'about.meta.content_about2');

            ret['awards'] = _.get(this.$store.state.indx, 'about.meta.content_awards');

            return ret;
        }
    },

    methods: {
        test: function(){

        }
    }

};
</script>
