<template>
  <div class="row h100" >

    <div class="col-12 awardsWrapper">
      <div class="row awardRow" v-for="(n, index) in content.awards" v-bind:key="index">

          <div class="col-8 col-md-10 brdr brdr-b text-right awardCol pl-0 pr-0" v-bind:key="index+45" >

              <div class="containerMarque text-right d-none d-md-block">
                  <span class="ssft-2 scrollingMarque showOnParentHover enlarger"> {{n.award_text}} </span>
                  <span class="ssft-2 scrollingMarque showOnParentHover enlarger"> {{n.award_text}} </span>
                  <span class="ssft-2 scrollingMarque enlarger"> {{n.award_text}} </span>
              </div>

              <div class="text-right d-md-none">
                  <span class="ssft-2 enlarger"> {{n.award_text}} </span>
              </div>

          </div>

          <div class="col-4 col-md-2 brdr brdr-b awardCol2 text-center pl-2 pr-0" v-bind:key="index" v-bind:class="[(n%2)==0?'brdr-l':'']">
              <span class="smallTitle">Year</span>
              <span class="largeYear">{{n.award_year}}</span>
          </div>

      </div>

        <div class="row p-0 awardRow">

        </div>

    </div>

  </div>
</template>




<script>
    import _ from 'lodash';

    export default {

    props: {
        //msg: String,
    },

    data: function(){
        return { expanded:0, lazyLoad: 'hidenContainer' }
    },

    mounted: function(){
        let self = this;
        setTimeout(function () {
            self.lazyLoad = 'showContainer';
        }, 300);
    },
    computed: {
        content: function () {
            var ret = {};

            if(!_.get(this.$store.state.indx, 'about.meta.content_awards'))return ret;

            ret['about'] = _.get(this.$store.state.indx, 'about.meta.content_about');
            // ret['services_1'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(0,5);
            // ret['services_2'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(5,9);
            // ret['services_3'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(10,14);

            ret['awards'] = _.get(this.$store.state.indx, 'about.meta.content_awards');
            ret['friends'] = _.get(this.$store.state.indx, 'about.meta.content_friends');

            return ret;
        }
    },

    methods: {
        test: function(){

        }
    }

};
</script>
