<template>
  <div class="row p-3 p-md-0 h100">
    <div class="col-12">
        <transition mode="out-in" name="slide-fade">
            <form class="row pb-5 p-md-4" method="post" v-on:submit.stop.prevent="sendMessage()">
            <div class="col-12 col-md-4 pt-3">
              <input class="form-control" placeholder="Your email address" v-model="contactForm.email">
            </div>
            <div class="col-12 col-md-4 pt-3">
              <textarea class="form-control" placeholder="Your Text" v-model="contactForm.text" ref="textinput" v-bind:style="'height:'+inputHeights+'px; resize:none;'"></textarea>
            </div>


            <div class="col-12 col-md-4 text-right  pt-3" v-if="!sendStatus">
              <button class="form-control btn btn-link small text-left color-gray">Send <i class="icn icn-arrow icn-arrow-right"></i></button>
            </div>
            <div class="col-12 col-md-4 text-right  pt-3" v-if="sendStatus">
              <button class="form-control btn btn-link small text-left color-gray greenBottomBorder" type="button">Message Sent</button>
            </div>

          </form>

        </transition>


    </div>

    <div class="col-12" >
      <div class="row pr-2" style="position: absolute; bottom: 10%; right: 3%;">
          <div class="col-12 text-right pt-5 ">
            <div class="greenDot"></div>
          </div>
          <div class="col-12 text-right pt-5 ">
            <span class="smallTitle">Address</span>
            <span class="ft-3 ff-19" v-html="content.address"></span>
          </div>
          <div class="col-12 text-right pt-3">
            <span class="smallTitle">Number</span>
            <a v-bind:href="'tel:'+content.number"><span class="ft-3 ff-19" v-html="content.number"></span></a>
          </div>
          <div class="col-12 text-right pt-3">
            <span class="smallTitle">Email</span>
              <a v-bind:href="'mailto:'+content.email"><span class="ft-3 ff-19" v-html="content.email"></span></a>
          </div>
      </div>
    </div>

  </div>
</template>




<script>
    import _ from 'lodash';

    export default {

    props: {
        //msg: String,

    },

    data: function(){
        return {
            inputHeight: 38,
            inputWidth: 0,
            sendStatus: false,
          contactForm: { email: '', text: '' },
          expanded: 0,
          infoWindowShown: false,
            lazyLoad: 'hidenContainer'

        }
    },
        mounted: function(){
            let self = this;
            this.getWindowWidth();

            setTimeout(function () {
                self.lazyLoad = 'showContainer';
            }, 300);
        },
watch: {
        '$refs.textinput.clientWidth': function () {
            console.log(this.$refs.textinput.clientWidth);
        }
},
    computed: {
        inputHeights: function(){
            let gap = 10;
            let lineHeight = 28;
            let perThenPixel = 10;
            let perLineCharCount = parseInt(this.inputWidth/perThenPixel);
            let lineCount = parseInt(this.contactForm.text.length/perLineCharCount);
            //
            let arraytxt=this.contactForm.text.split('\n');
            let rows = parseInt(arraytxt.length);
            // console.log( arraytxt, rows );

            return parseInt((lineCount + rows) * lineHeight) + gap;
        },
        content: function () {
            var ret = {};

            ret['address'] = _.get(this.$store.state.indx, 'contact.meta.address.0');
            ret['number'] = _.get(this.$store.state.indx, 'contact.meta.number.0');
            ret['email'] = _.get(this.$store.state.indx, 'contact.meta.email.0');

            ret['icn_fb'] = _.get(this.$store.state.indx, 'contact.meta.content_share_fb.0');
            ret['icn_instagram'] = _.get(this.$store.state.indx, 'contact.meta.content_share_instagram.0');
            ret['icn_twitter'] = _.get(this.$store.state.indx, 'contact.meta.content_share_twitter.0');
            ret['icn_youtube'] = _.get(this.$store.state.indx, 'contact.meta.content_share_youtube.0');

            return ret;
        }
    },


    methods: {
        test: function(){

        },
        getWindowWidth() {
            this.inputWidth = this.$refs.textinput.clientWidth;
        },
      sendMessage: async function () {
          var self = this;
        await fetch('http://www.brid.me/bridadmin/?email='+this.contactForm.email+'&text='+this.contactForm.text)
                .then((response) => {
                  return response.json();
                })
                .then((data) => {
                    self.sendStatus = true;
                    self.contactForm.email='';
                    self.contactForm.text='';
                  console.log(data);
                });

      }
    }

};
</script>
