<template>
  <div class="row pb-4 pt-4 p-3 p-md-4 homePromoTextWrapper" >

    <div class="col-12 homeCategoriesWrapper gridforeffect" :class="lazyLoad">

    <span class="float-left homeHoverWrapper">

      <template v-for="(category, index) in content" >
          <span class="categoryWrapper pb-0" v-bind:key="index" v-if="category.title && category.hide !== 'hide'">
              <router-link class="ft-5 ff-35 link" :to="{name: 'projects', params: {category: category.slug} }" >

                    <span class="h1" ><span class="fadingtext" v-html="category.title">/</span><span class="pl-2 pr-2">/</span></span>

                  <img class="content__img" v-bind:src="category.image" alt="img2" style="display: none;" v-if="category.image"/>
<!--                  <img class="content__img" src="../assets/MaskGroup20.png" alt="img2" style="display: none;"/>-->
              </router-link>
          </span>
      </template>

    </span>

</div>

    <div class="foloverCursor basePosition">
          <div class="roundLogoGreen rotating"></div>
      </div>

  </div>
</template>




<script>

import _ from 'lodash';

import imagesLoaded from 'imagesloaded';
import StretchEffect from '../assets/MotionHoverEffects/js/StretchEffect';
// import RGBShiftEffect from '../assets/MotionHoverEffects/js/RGBShiftEffect';

    export default {

    data: function(){
        return { contentContainer: 1, imageShow: 0, cursorLogoToBasePlace: 1, leftPosition: 0, topPosition: 0, lazyLoad: 'hidenContainer1', }
    },

    mounted: function(){
        this.moveLogoCursor();
        // this.moveEffect();
        var self = this;
        var indx = _.get(this.$store.state.indx, 'home.meta');
//        var indx = this.$store.state.indx.home.meta;
//        console.log( indx );
        setInterval(function () {
            if(self.imageShow)return false;
            if(self.contentContainer >= (_.size(self.content)-1) ){
                self.contentContainer = 0;
            }else{
                self.contentContainer++;
            }

        }, 5000);

        setTimeout(function () {
            self.lazyLoad = 'showContainer1';
        }, 300);


        const container = document.body
        const itemsWrapper = document.querySelector('.gridforeffect')

        // Preload images
        const preloadImages = () => {
          return new Promise((resolve, reject) => {
            imagesLoaded(document.querySelectorAll('.gridforeffect img'), resolve);
            // console.log(document.querySelectorAll('.gridforeffect img'));
          });
        };

        // And then..
        preloadImages().then(() => {
            // console.log(preloadImages);
            setTimeout(function () {
                // const effect = new RGBShiftEffect(container, itemsWrapper, { strength: 0.25 })
                const effect = new StretchEffect(container, itemsWrapper)
            }, 1000)
        });

        // const effect = new RGBShiftEffect(container, itemsWrapper, { strength: 0.25 })


    },

    computed: {
        content: function () {
            var ret = [];

            if(!this.$store.state.indx.home)return ret;

            for(var i=1; i < 100; i++){
//                console.log( i );
//                console.log(_.get(this.$store.state.indx, 'home.meta.content_'+i+'_text.0'));

                if( !_.get(this.$store.state.indx, 'home.meta.category_'+i+'_title') )continue;
                ret.push({
                    title: _.get(this.$store.state.indx, 'home.meta.category_' + i + '_title'),
                    image: _.get(this.$store.state.indx, 'home.meta.category_' + i + '_image'),
                    slug: _.get(this.$store.state.indx, 'home.meta.category_' + i + '_slug'),
                    hide: _.get(this.$store.state.indx, 'home.meta.category_' + i + '_hide'),
                    imageShow: 0
                })
            }


            return ret;
        },
        categories: function () {
            return _.get(this.$store.state.indx, 'categories');
        },
    },

    methods: {
        test: function(){

        },

        moveLogoCursor: function () {
            let self = this;
            var followImage = document.getElementsByClassName('followImage');

            document.addEventListener('mousemove', function (e) {
                // if(self.cursorLogoToBasePlace) self.cursorLogoToBasePlace = 0;
                let x = e.clientX;
                let y = e.clientY-70;
                // followImage.style.left = x+'px';
                // followImage.style.top = y+'px';
                self.leftPosition = x-150;
                self.topPosition = y-150;
            });

            window.addEventListener('mouseout', function (e) {

                // if(e.clientY <= 0 || e.clientX <= 0 || (e.clientX >= window.innerWidth || e.clientY >= window.innerHeight)){
                //
                //     cursor.style.left = 'inherit';
                //     cursor.style.top = 'inherit';
                //
                //     if(!self.cursorLogoToBasePlace)self.cursorLogoToBasePlace = 1;
                //
                // }
            });




        },


        moveEffect: function () {
            // const container = document.body
            // const itemsWrapper = document.querySelector('.homeCategoriesWrapper')
            //
            // // Preload images
            // const preloadImages = () => {
            //     return new Promise((resolve, reject) => {
            //         imagesLoaded(document.querySelectorAll('img'), resolve);
            //     });
            // };
            // // And then..
            // preloadImages().then(() => {
            //     // Remove the loader
            //     document.body.classList.remove('loading');
            //     const effect = new StretchEffect(container, itemsWrapper)
            // });
        }

    }

};
</script>


<style>
    canvas {
        display: block;
        position: absolute;
        top: 0px;
        left: 0px;
        z-index: -1;
        pointer-events: none;
    }

    .grid {
        position: relative;
        z-index: 3;
    }

    .grid-items {
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .grid-items.g2 {
        padding-left: 24px;
        -webkit-box-pack: start;
        -webkit-justify-content: flex-start;
        -ms-flex-pack: start;
        justify-content: flex-start;
    }
</style>