<template>
  <div class="row">
    <div class="col-12">
      <ul class="mmenuList">
        <template v-for="(menu, index) in $store.state.menu">
          <li class="active" v-bind:key="index">
            <router-link class="nav-link brdr brdr-b" :to="{name: index}" v-bind:class="[$store.state.lastRoute == index?'selected':'']" >
              {{menu}}
              <span class="float-right"><i class="icn icn-arrow icn-arrow-right"></i></span>
            </router-link>
          </li>
        </template>
      </ul>

    </div>

    </div>


</template>


<script>
    import _ from 'lodash';




    export default {


    data: function(){
        return {


        }
    },


    mounted: function(){

    },

    methods: {
        test: function(){

        }
    }

};
</script>
