<template>
  <div>
    <div class="float-left"><img src="./../assets/bridLogo.png"></div>
    <nav class="navbar navbar-expand-md float-right">
        <ul class="navbar-nav">
          <li class="nav-item active" v-bind:class="[expanded?'':'faded']">
            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item" v-bind:class="[expanded?'':'faded']">
            <a class="nav-link" href="#">Projects</a>
          </li>
          <li class="nav-item" v-bind:class="[expanded?'':'faded']">
            <a class="nav-link" href="#">Studio</a>
          </li>
          <li class="nav-item" v-bind:class="[expanded?'':'faded']">
            <a class="nav-link" href="#">Contact</a>
          </li>
          <li class="nav-item">
            <div class="navBurger"
                 v-on:click="expanded = !expanded"
                 v-bind:class="[expanded?'expanded':'']"></div>
          </li>
        </ul>
    </nav>

  </div>
</template>




<script>
export default {

    props: {
        //msg: String,
    },

    data: function(){
        return { menu: 111111, expanded:0 }
    },

    mounted: function(){
        console.log("ssssssssssssss");
    },

    methods: {
        test: function(){

        }
    }

};
</script>
