<template>
  <div class="row pt-3 pt-md-0">

    <div class="col-12">
      <div class="row">
          <div class="col-12 projectCard" v-if="project.ID">
            <div class="row">

              <div class="col-12 d-flex brdr brdr-b p-3 p-md-4 mb-2 t-18">
                  <div class="col-4 text-left">
                      <router-link :to="{name: 'projects', params: { category: categoryToView.slug } }" v-html="categoryToView.name"></router-link>
                  </div>
                  <div class="col-4 text-center" v-html="project.post_title"></div>
                  <div class="col-4 text-right" v-html="project.post_excerpt"></div>
              </div>

                <div class="col-12 d-flex t-14 p-3">
                    <div style="width: 96%; margin: 0 2%;">
                        <div class="three-col line-height-2" v-html="project.post_content"></div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="row ml-3 mr-3">
                        <div class="col-12 projectViewImageWrapper" v-bind:class="showProjectImage"><img class="p-4" v-bind:src="project.image"></div>
                    </div>
                </div>

            </div>
          </div>

      </div>
    </div>

    <div class="col-12">

      <div class="row t-18 p-3 pr-4">
        <div class="col-6 text-left">
            <router-link :to="{ name: 'projectView', params: { id: pager.prev } }" v-if="pager.prev">
                <i class="icn icn-arrow icn-arrow-left"></i> Previous project
            </router-link>
        </div>
        <div class="col-4 text-center d-none">
          {{pager.index}} / {{pager.count}}
        </div>
        <div class="col-6 text-right">
            <router-link :to="{ name: 'projectView', params: { id: pager.next } }" v-if="pager.next">
                Next project<i class="icn icn-arrow icn-arrow-right"></i>
            </router-link>
        </div>
      </div>

    </div>

  </div>
</template>




<script>
    import _ from 'lodash';

    export default {

    data: function(){
        return {
            categories: { 1: 'Logo', 2: 'Branding', 3: 'Web' },
            projects: { 1: 'Logo', 2: 'Branding', 3: 'Web', 4: 'Logo', 5: 'Branding', 6: 'Web' },
            showProjectImage: '',
        }
    },

    mounted: function(){

    },
    watch: {
        project: {
            immediate: true,
            handler: function (newval) {
                this.showProjectImage = '';
                if(newval.image){
                    let self = this;
                    setTimeout(function () {
                        self.showProjectImage = 'showProjectImage';
                    },400);

                } else {
                    this.showProjectImage = '';
                }

            }
        }
    },
    computed: {
        categoryToView: function(){
            let cat = {};
            if(this.$store.state.selectedCategory.term_id && this.project.categories.indexOf(this.$store.state.selectedCategory.term_id) >= 0){
                cat = this.$store.state.selectedCategory;
            }else if(parseInt(this.project.categories[0])){
                for (let i in _.get(this.$store.state.indx, 'categories')){
                    if( _.get(this.$store.state.indx, ['categories', i, 'term_id']) == this.project.categories[0] ){
                        cat = this.$store.state.indx.categories[i];
                        break;
                    }
                }
            }

            return cat;
        },

        project: function(){
            let ret = {};
            for(let i in _.get(this.$store.state.indx, 'projects')){

                if(this.$store.state.indx.projects[i].ID == this.$route.params.id) {
                    ret = this.$store.state.indx.projects[i];
                }
            }
            return ret;
        },

        pager: function () {
            let ret = { count: _.size(_.get(this.$store.state.indx, 'projects')) };
            for(let i in _.get(this.$store.state.indx, 'projects')){
                if(this.$store.state.indx.projects[i].ID == this.$route.params.id) {
                    ret.index = parseInt(i)+1;
                    break;
                }
            }

            if(_.get(this.$store.state.indx, ['projects',(parseInt(ret.index)-2)]))ret.prev = _.get(this.$store.state.indx, ['projects',(parseInt(ret.index)-2), 'ID']);
            if(_.get(this.$store.state.indx, ['projects',(parseInt(ret.index))]))ret.next = _.get(this.$store.state.indx, ['projects',(parseInt(ret.index)), 'ID']);

            return ret;

        }
    },

    methods: {
        test: function(){

        }
    }

};
</script>
