<template>
  <div class="row h100">

    <div class="col-12 brdr brdr-b p-4 p-md-3 text-left projectCategories">
      <div class="row pl-1 pr-1 pr-md-4 pl-md-4">
        <div class="col-4 col-md-4" v-for="(category, index) in categories" v-bind:key="index">
            <router-link class="btn btn-link" :to="{name: 'projects', params: {category: category.slug} }" v-html="category.name" ></router-link>
        </div>
      </div>
    </div>


    <div class="col-12 ">

      <div class="row d-none d-md-block pt-3 pr-5 pl-5" id="masonryContainer" style="height: 70vh; overflow: auto;">

        <masonry
                :cols="4"
                :gutter="14"
                style="position: relative;"
        >
          <div v-for="(project, index) in projects" :key="index" class="projectsListCell invisibleProject" v-bind:id="'projectItem_'+index" v-bind:class="projectItemsOffset[index]">
            <router-link :to="{ name: 'projectView', params: { id: project.ID } }">
              <img v-bind:src="project.image" style="margin-bottom: 15px;" v-bind:class="imagesListStatus">
            </router-link>
          </div>
        </masonry>

      </div>



      <div class="row d-md-none p-3 m-0" id="masonryContainerMobile">

        <masonry
                :cols="2"
                :gutter="10"
        >
          <div v-for="(project, index) in projects" :key="index" class="projectsListCell invisibleProject" v-bind:id="'projectItemMobile_'+index" v-bind:class="projectItemsOffsetMobile[index]">

            <router-link :to="{ name: 'projectView', params: { id: project.ID } }">
              <img v-bind:src="project.image" style="margin-bottom: 10px;" v-bind:class="imagesListStatus">
            </router-link>
          </div>
        </masonry>
      </div>

    </div>

  </div>
</template>



<script>

  import _ from 'lodash';

  import Vue from 'vue'
  import VueMasonry from 'vue-masonry-css'

  Vue.use(VueMasonry);

  export default {

    data: function(){
        return {
            selectedCategory: {},
            projectsss: { 1: 'Logo', 2: 'Branding', 3: 'Web', 4: 'Logo', 5: 'Branding', 6: 'Web' },
            imagesListShow: 'massonryImagesListShow',
            imagesListStatus: '',
            scrollPosition: 0,
            projectItemsOffset: {},
          projectItemsOffsetMobile: {},

        }
    },

    mounted: function(){
      let self = this;

      document.getElementById('masonryContainer').onscroll = function(){
        self.itemOffsets();
      }

    },

    watch: {
      "$route.params":{
        immediate: true,
        handler: function () {
          let self = this;
          this.imagesListStatus = '';

          if(!this.$route.params.category ){
            this.selectedCategory = {};
            this.$store.commit('SetState', { key: 'selectedCategory', val: {} });
          }else{
            for (let i in _.get(this.$store.state.indx, 'categories')){
              // console.log(_.get(this.$store.state.indx, ['categories', i, 'slug']) +'=='+ this.$route.params.category);
              
              if( _.get(this.$store.state.indx, ['categories', i, 'slug']) == this.$route.params.category ){
                this.selectedCategory = this.$store.state.indx.categories[i];
                this.$store.commit('SetState', { key: 'selectedCategory', val: this.$store.state.indx.categories[i] });
                break;
              }
            }
          }

          setTimeout(function () {
            self.imagesListStatus = self.imagesListShow;
          },500)

        }
      },
      projects: {
        immediate: true,
        handler: function (newval) {
          // console.log(newval);
          this.projectItemsOffset = {};
          this.projectItemsOffsetMobile = {};
          this.itemOffsets();
        }
      }
    },

    computed: {
      categories: function () {
        return _.get(this.$store.state.indx, 'categories');
      },

      projects: function () {
        // console.log(this.$route.params.category);
        // console.log(_.get(this.$store.state.indx, 'projects'));

        let self = this;
        // console.log( this.selectedCategory );
        
        let ret = [];
        for(let i in _.get(this.$store.state.indx, 'projects')){
          if( this.$store.state.selectedCategory.term_id && this.$store.state.indx.projects[i].categories.indexOf(this.$store.state.selectedCategory.term_id) < 0 ){
            // console.log( this.$store.state.indx.projects[i].categories );
            // console.log( this.selectedCategory );
              continue;
          }

          ret.push( this.$store.state.indx.projects[i] );

        }

        return ret;
      },


    },

    methods: {

      itemOffsets: function () {
        let self = this;

        setTimeout(function () {
          // console.log('scrollTop '+scrl.scrollTop);
          // console.log(document.documentElement.clientHeight * 0.65);
          let scrollPosition = parseInt(document.getElementById('masonryContainer').scrollTop);
          let scrollPositionMobile = parseInt(document.getElementById('masonryContainerMobile').scrollTop);
          let position = scrollPosition + parseInt(document.documentElement.clientHeight * 0.5);
          let positionMobile = scrollPositionMobile + parseInt(document.documentElement.clientHeight * 0.5);

          for (let i in self.projects){
            // console.log('projectItem_'+i+': '+document.getElementById('projectItem_'+i).offsetTop);

            if( parseInt(document.getElementById('projectItem_'+i).offsetTop ) < position){
              Vue.set(self.projectItemsOffset, i, 'visibleProject' );
            }else{
              Vue.set(self.projectItemsOffset, i, '' );
            }

            if( parseInt(document.getElementById('projectItemMobile_'+i).offsetTop ) < positionMobile){
              Vue.set(self.projectItemsOffsetMobile, i, 'visibleProject' );
            }else{
              Vue.set(self.projectItemsOffsetMobile, i, 'visibleProject' );
            }




          }

        }, 100);


      }

    }

};
</script>
