<template>
  <div class="row">

    <div class="col-8 brdr brdr-b brdr-r">
      <div class="row">
        <div class="col-5"><h2 class="h-7">About</h2></div>
        <div class="col-7 t-14" v-html="content.about">
          <p class="text-left">
            we are team of young professionals who // create Brand identity // that leaves fingerprints on the market & the minds of your customers, so their numbers grow by leaps bounds!
          </p>
          <p class="text-left">
            Our goal is to pay special attention to each client, providing them with a high-quality final product. To achieve these results, we try to understand client’s requirements the best that we can and offer effective ways to solve for their business.
          </p>
        </div>
      </div>
    </div>

    <div class="col-8 brdr brdr-b brdr-r ">
      <h2 class="h-3 text-left">Services</h2>
    </div>

    <div class="col-8 brdr brdr-b brdr-r">
      <div class="row pb-3 pt-3">

        <div class="col-4 text-left content-bottom">
          <ul class="text-left servicesList">
              <template v-for="(service, index) in content.services_1">
                  <li v-bind:key="index">{{service.service_title}} <i class="icn icn-arrow icn-arrow-right"></i></li>
              </template>
          </ul>
        </div>

        <div class="col-4 text-left content-bottom">
          <ul class="servicesList">
              <template v-for="(service, index) in content.services_2">
                  <li v-bind:key="index">{{service.service_title}} <i class="icn icn-arrow icn-arrow-right"></i></li>
              </template>
          </ul>
        </div>

        <div class="col-4 text-left content-bottom">
          <ul class="servicesList">
              <template v-for="(service, index) in content.services_3">
                  <li v-bind:key="index">{{service.service_title}} <i class="icn icn-arrow icn-arrow-right"></i></li>
              </template>
          </ul>
        </div>


      </div>
    </div>


    <div class="col-8 brdr brdr-r">
      <h2 class="text-left h-7">Awards</h2>
    </div>

    <div class="col-12 brdr brdr-b brdr-t">
      <div class="row">

        <template v-for="(n, index) in content.awards">
          <div class="col-1 brdr brdr-r pt-4 pb-4" v-bind:key="index" v-bind:class="[(n%2)==0?'brdr-l':'']">
            <p class="t-20">{{n.award_year}}</p>
          </div>
          <div class="col-5 pt-4 pb-4 brdr" v-bind:key="index+45">
            <p class="awardTeaser" v-html="n.award_text"></p>
          </div>
        </template>


      </div>
    </div>

    <div class="col-12">
      <div class="row">

        <div class="col-1 position-relative">
          <div class="valign-middle">
            <h3 class="rotate-270">Friends</h3>
          </div>
        </div>
        <div class="col-11">
          <div class="row">
              <template v-for="(friends, index) in content.friends">
                  <div v-bind:key="index" class="col-4 friendsWrapper" ssv-bind:style="'background-image:url('+friends.image_url+');'"> <img class="m-4 w-75" v-bind:src="friends.image_url"></div>
              </template>
          </div>
        </div>
      </div>
    </div>


  </div>
</template>




<script>
    import _ from 'lodash';

    export default {

    props: {
        //msg: String,
    },

    data: function(){
        return { menu: 111111, expanded:0 }
    },

    mounted: function(){

    },
    computed: {
        content: function () {
            var ret = {};

            if(!_.get(this.$store.state.indx, 'about.meta.content_services'))return ret;

            console.log(_.get(this.$store.state, 'indx.about.meta'));
            ret['about'] = _.get(this.$store.state.indx, 'about.meta.content_about');
            ret['services_1'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(0,5);
            ret['services_2'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(5,9);
            ret['services_3'] = _.get(this.$store.state.indx, 'about.meta.content_services').slice(10,14);

            ret['awards'] = _.get(this.$store.state.indx, 'about.meta.content_awards');
            ret['friends'] = _.get(this.$store.state.indx, 'about.meta.content_friends');



console.log(ret);

            return ret;
        }
    },

    methods: {
        test: function(){

        }
    }

};
</script>
