@import url('//fonts.googleapis.com/css?family=Questrial');
* {
    font-family: Questrial, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    color: #F2F2F2;

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

.roundLogoGreen{ width: 130px; height: 130px; background: url("../assets/bridLogoRoundGreen.png") no-repeat center; background-size: cover; }
.roundLogoPositionRightBottom{ position: absolute; right: 5%; bottom: 3%; z-index: -1; }
.roundLogoPositionLeftBottom{ position: absolute; left: 10%; bottom: 3%; }
.roundLogoLeft{ position: relative; float: left; }

.foloverCursor{ position: absolute; z-index: -1; }
.foloverCursor.basePosition{ right: 70px; bottom: 50px; transition: left 0.5s, top 0.5s; }
.form-control{ transition: all 0.5s; }
a, a:hover{ color: #F2F2F2; text-decoration: none; }
.btn-link, .btn-link:hover, .btn-link:focus{ color: #F2F2F2; text-decoration: none; }
#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}
p{margin-bottom:0;}
a:hover,
#nav a.router-link-exact-active {
    color: #75F94B;
}
html, body{ height: 100%; }
body{ background-color: #1c1c1c; /** overflow-x: hidden; max-width: 100%; */ min-width: 100%; }
img{ max-width: 100%; }
.h100{ height: 100%; }
.h60{ height: 60%; }
.h50{ height: 50%; }
.h40{ height: 40%; }
.form-control{ background: none; border: none; border-bottom: solid 1px #383838; border-radius: 0; outline: none !important; }
.form-control:focus{ background: none; outline: none; box-shadow: none; }

.form-control:focus{ border-color: #75F94B; }

.icn{ position: relative; padding: 0 15px; }
.icn::before{ position: absolute; width: 15px; height: 15px; content: ''; left: 0; bottom: 0; right: 0; top: 0; margin: auto; }
.icn-arrow::before, .icn-arrow-right::before { background: url("arrow-white.png") no-repeat center; }
.icn-arrow-left::before { transform: rotate(180deg); }
.icn-arrow-up::before { transform: rotate(270deg); }
.icn-arrow-down::before { transform: rotate(90deg); }
.icn-fb::before { background: url("fb.png") no-repeat; }
.icn-instagram::before { background: url("instagram.png") no-repeat; }
.icn-twitter::before { background: url("twitter.png") no-repeat; padding: 0 16px; }
.icn-youtube::before { background: url("youtube.png") no-repeat; padding: 0 16px; }
.icn-fingerprint::before { background: no-repeat url("fingerprint.png"); background-size: contain; padding: 28px 45px; }

.share-icons a{ margin-right: 9%; }

.ft-1 { font-size: 1vw; line-height: normal; }
.ft-2{ font-size: 1.8vw; line-height: normal; }
.ft-3{ font-size: 3vw; line-height: normal; }
.ft-4{ font-size: 4vw; line-height: normal; }
.ft-5{ font-size: 5vw; line-height: normal; }
.ft-6{ font-size: 6vw; line-height: normal; }
.ft-7{ font-size: 7vw; line-height: normal; }
.ft-8{ font-size: 8vw; line-height: normal; }
.ft-9{ font-size: 9vw; line-height: normal; }

.t-8 { font-size: 8px; }
.t-10{ font-size: 10px; }
.t-12{ font-size: 12px; }
.t-14{ font-size: 14px; }
.t-16{ font-size: 16px; }
.t-18{ font-size: 18px; }
.t-20{ font-size: 20px; }
.t-22{ font-size: 22px; }
.t-24{ font-size: 24px; }

.h-1{ font-size: 1em; }
.h-2{ font-size: 2em; }
.h-3{ font-size: 3em; }
.h-4{ font-size: 4em; }
.h-5{ font-size: 5em; }
.h-6{ font-size: 6em; }
.h-7{ font-size: 7em; }
.h-8{ font-size: 8em; }
p{ line-height: 3em; }
.line-height-2 p{ line-height: 1.5em; }
.line-height-18 p{ line-height: 1.8em; }
.line-height-16 p{ line-height: 1.6em; }
.line-height-14 p{ line-height: 1.4em; }
.line-height-12 p{ line-height: 1.2em; }
.line-height-1 p{ line-height: 1em; }
.line-height-normal p{ line-height: 1em; }
.preloaderWrapper{ position: absolute; left: 0; right: 0; margin: auto; text-align: center; top: 0; bottom: 0; }
.preloaderWrapper img{   }
.center-me{ margin: auto; left: 0; right: 0; top: 0; bottom: 0; position: absolute; max-width: 177px; max-height: 177px; }

.rotate-90{ transform: rotate(90deg); }
.rotate-180{ transform: rotate(180deg); }
.rotate-270{ transform: rotate(270deg); }

.valign-middle{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 0; }
.valign-bottom{ position: absolute;  bottom: 30%; left: 0; right: 0; margin: auto; height: 0; }
.color-gray, .color-gray:hover, .color-gray:focus{ color: #495057; }
.three-col{ column-count: 3; column-gap: 15%; text-align: left; column-fill: auto; min-height: 50px; }

ul, li{ margin: 0; padding: 0; list-style: none; }
li{ padding: 1% 0; list-style: none; font-size: 36px; text-transform: capitalize; }
.servicesList li{font-size: 1.4em; }

.main-container{ overflow: hidden; min-height: 100%; }
.partsWrapper{ display: flex; flex-direction: column; min-height: 100vh; }
.partContent{ flex: 1 0 auto; }
.partFooter{ flex-shrink: 0; }

.brdr{ border-color: #383838 !important; border-width: 1px !important; }
.brdr-b{ border-bottom: solid; }
.brdr-t{ border-top: solid; }
.brdr-r{ border-right: solid; }
.brdr-l{ border-left: solid; }

.headNavbar{ height: 60px; }
.burgerWrapper{ padding-top: 3px; float: right; height: 60px; width: 110px; }
.navBurger{ padding: 0; height: 100%; display: block; transition: transform 0.5s; margin-top: 0; margin-right:0; cursor: pointer; }
.navBurger.expanded{ color: #909090; }

.navBurger path {
    transition: all 0.5s ease-in-out;
    fill: #6D6E71;
}

.navBurger:hover path {
    stroke: #76FA4C;
    fill: #76FA4C;
}

.navbar-floating{ z-index: 555; transition: opacity 0.5s; }
.nav-item{ transition: opacity 0.5s; padding: 0; display: inline-block; }
.nav-item .nav-link{ font-weight: normal; font-size: 0.5em; text-align: left; color: white; padding:20px 20px ; }
.nav-item.selected a, .nav-item a.router-link-exact-active, .nav-item a:hover{ color: #75F94B; }
.nav-item .nav-link i{ float: right; margin-top: 12px; }
    .faded{ opacity: 0 !important; }


.mmenuList li a{ font-size: 1.2em; padding:0.5rem 1rem; }
.mmenuList li a.selected{  color: #75F94B; }

.footerBar{  }
ul.footer-navbar{ float: right; list-style-type: none; }
ul.footer-navbar li{ display: table-cell; }
ul.footer-navbar li a{ font-size: 14px; padding: 0 15px; color: #6C6C6C; }
ul.footer-navbar li a:hover{ color: #ffffff; }
.mainViewWrapper{ min-height: 100%; }

.homePromoTitle{ text-align: left; font-size: 10vw; margin: 3vw 0 }
.logoWrapper{ margin: auto; width:20vw; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height:20vw; max-width:177px; max-height:177px; }
.roundLogo{ max-width: 100%; text-align: center; }

.greenSpan span,
.text-green{ color: #75F94B; }
.text-green:hover{ color: #909090; text-decoration: none; }
.text-softgray{ color: #909090; }

.homePromoTextWrapper{ position: relative; height: 100%; overflow: hidden; }
.homePromoText{ position: absolute; top: 0; }
.homePromoText .promoText{ font-size: 5vw; text-align: left; position: relative; z-index: 1; color: #f2f2f2; padding-right: 15%; line-height: 1.05em; transition: all 0.5s; }
.homePromoText img{ position: absolute; bottom: 0; top: 0; margin: auto; right: 8vw; z-index: 0; max-height: 100%; }
.categoryWrapper{ float: left; }
.categoryWrapper a{ float: left; }
.categoryWrapper .slashBrake{ float: left; }
/*.homeCategoriesWrapper img{ opacity: 0; transition: opacity 0.0.5s; position: absolute; bottom: 0; right: 15%; z-index: -1; max-width: 300px; }*/
/*.homeCategoriesWrapper .categoryWrapper:hover img{ opacity:1; transition: opacity 0.0.5s; }*/
.homeCategoriesWrapper .homeHoverWrapper:hover *{ color: #6C6C6C; transition: all 0.5s; }
.homeCategoriesWrapper .homeHoverWrapper:hover a:hover .fadingtext{ color: #ffffff; transition: all 0.5s; }
.homeCategoriesWrapper .h1{ font-size: inherit; float: left; margin: inherit; }
.homeCategoriesWrapper a:hover .h1{ color: #ffffff; transition: all 0.5s; }

.fadding{ transition: all 1s; }
.fadeIn{ opacity: 1 !important; transition: all 1s; }
.fadeOut{ opacity: 0 !important; transition: all 1s; }

.projectsListCell{ overflow: hidden; }
.projectsListCell img{ max-width:none; transition: width 0.3s, margin 0.3s; width: 100%; }
.projectsListCell img.massonryImagesListShow{ transition: width 0.3s, margin 0.3s; }
.projectsListCell:hover img{ max-width:none; width: 110%; margin-top: -5%; margin-left: -5%; transition: width 0.3s, margin 0.3s; }
.invisibleProject{ padding-top: 100px; opacity: 0; /** transition: padding-top 1s, opacity 1s; */ }
.visibleProject{ padding-top: 0; opacity: 1; transition: opacity 3s, padding-top 1s; }

.projectCard{ display: inline-block; padding-bottom: 1rem; width: 25%; float: left; }
.projectCard .card{ background: #909090; border-radius: 0; border: none;  }
.projectViewImageWrapper{ background: #2a2a2a; padding: 2% 0; text-align: center; overflow: hidden; transition: height 1s;  }
.showProjectImage{ transition: height 1s; height: auto; }
.projectViewImageWrapper img{ margin-top: 30%; opacity: 0; transition: margin-top 0.2s, opacity 0.2s; }
.showProjectImage img{ margin-top: 0; opacity: 1; transition: margin-top 1s, opacity 2s; }

.awardRow{ min-height: 8vw; }
.awardCol{ display: flex; justify-content: flex-end; align-items: flex-end; line-height: 0; }
.awardRow .awardCol span{ text-align: right; line-height: 1vw; }
.awardRow .enlarger{ font-size: 2vw; transition: font-size 0.5s, color 1s, line-height 0.5s, padding-bottom 0.5s; color: #909090; margin-top: 20px; }
.awardRow .awardCol2{ line-height: 0; display: flex; align-items: flex-end; }
.awardRow .awardCol2 span{ line-height: 10px; }
.awardRow .largeYear{ font-size: 4vw; padding-bottom: 0.8vw; }
.awardRow .smallYear{ font-size: 1.4vw; }
.awardRow:hover .enlarger{display: inline-block; color: #76FA4C; font-size: 3vw; line-height: 1vw; transition: color 2s, line-height 2s, padding-bottom 2s; padding-bottom: 0.4vh; }
.awardRow:hover span{ color: #76FA4C; }
.awardsWrapper{ display: flex; flex-direction: column; justify-content: space-around; height: 100%;  }
.smallTitle{ padding-right: 5px; font-size: 1.4vw; }

.containerMarque { white-space: nowrap;  overflow: hidden; padding-bottom: 10px; margin-bottom: -8px; }
.scrollingMarque { display: inline-block; padding-right: 10px; }
.awardRow:hover .scrollingMarque{ animation-play-state: running; animation: marquee 5s linear infinite; }
.containerMarque .showOnParentHover{ display: none; }

.friendsWrapper{ vertical-align: middle; background: center no-repeat; position: relative;  display: flex; justify-content: center; align-items: center; }
.friendsWrapper img{ width: 94%; vertical-align: middle;  position: relative; /** left: 0; right: 0; top: 0; bottom: 0; margin: auto; */ display:inline-block; }

.content-bottom{ display: flex; align-items: flex-end; }

.centerer{ display: flex; justify-content: center; align-items: center; }
.centerer-left div{ align-self: flex-start; }
.centerer-right div{ align-self: flex-end; }

.projectCategories .btn-link{ display: flex; align-items: flex-end; font-size: small; padding: 0; text-align: left; }
.projectCategories .btn-link:hover{ color: #76FA4C; }
.projectCategories .router-link-exact-active, .projectCategories .router-link-active{ color: #76FA4C; }


.masonry2 { column-count: 4; column-gap: 1em; }
.masonry-brick2 { background-color: #eee; display: inline-block; margin: 0 0 1em; width: 100%; }

div.masonry3 { display: flex; flex-flow: column wrap; height: 100vw; font-size: 0; }
div.masonry3 .masonry-brick3 { width: 25%; transition: .8s opacity; }
div.masonry3 .masonry-brick3 img{ padding: 0 7px 14px 7px; }

.fade-enter-active,
.fade-leave-active { transition: opacity 1s }

.fade-enter,
.fade-leave-to { transition: opacity 1s; opacity: 0; }

.bridLogo {  display: block; text-indent: -9999px; width: 100px; height: 40px; background: url("../assets/logo_brid.svg"); background-size: 100px 82px; }



@keyframes marquee {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.greenDot{ background: #76FA4C; width: 22px; height: 22px; display: block; float: right; border-radius: 50%; }
.greenBottomBorder{ border-bottom-color: #76FA4C; }

.d-md-block-inline{ display: inline-block !important; }
@media only screen and (max-width: 768px) {
    .d-md-block-inline{ display: none !important; }
    .nav-item .nav-link{ font-size: 0.3em; }
    .homePromoText .promoText{ font-size: 10vw; }
    .homePromoText img{ top: auto;max-height: 60%; right: 14vw; }
    p{ line-height: 1.4em; }
    .t-20{ font-size: 12px; }
    .t-18{ font-size: 13px; }
    .awardRow .largeYear{ font-size: 8vw; padding-bottom: 6px; }
    .smallTitle{ font-size: 3vw; }
    .awardRow .smallYear{ font-size: 2vw; }
    .awardRow .enlarger{ font-size: 4vw; line-height: normal; width: 100% !important; display: block; margin-bottom:-4px; padding-left: 10%; }
    .awardRow:hover .enlarger{ font-size: 4.3vw; line-height: normal; margin-bottom:-8px; }
    .awardRow .awardCol span{ line-height: normal; }
    .roundLogoGreenAboutMobile{ right: 5vw; bottom: 20px; position: absolute; }
    .ft-2{ font-size: 3vw; }
    .ft-4{ font-size: 7vw; }
    .ff-35{ font-size: 35px; }
    .ff-14{ font-size: 14px; }
    .ff-19{ font-size: 19px; }
    .centerer{ align-items: normal; padding: 6vw; }
    ul.footer-navbar li a{ font-size: 3vw; padding: 0 10px; }

    .three-col{ column-count: 1; line-height: normal; }

    .hideMeHeight{ overflow: hidden; max-height: 0; display: none; }
    .foloverCursor.basePosition{ right: 40px; bottom: 20px; }

}

.hidenContainer{ opacity: 0; transition: all 3s; margin-top: 10%; }
.showContainer{ opacity: 1; transition: all 3s; margin-top: 0; }

.hidenContainer1{ opacity: 0; transition: all 5s; }
.showContainer1{ opacity: 1; transition: all 5s; }



.slide-fade-enter-active {
    transition: all .7s ease;
    margin-top: 0;
}
.slide-fade-leave-active {
    /*transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);*/
    opacity: 0; transition: all .5s; margin-top: 10%;
}
.slide-fade-enter, .slide-fade-leave-to {
    opacity: 0; transition: all .5s; margin-top: 10%;
}