@import url('//fonts.googleapis.com/css?family=Questrial');
* {
    font-family: Questrial, Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    /*text-align: center;*/
    color: #F2F2F2;

}

@-webkit-keyframes rotating /* Safari and Chrome */ {
    from {
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
.rotating {
    -webkit-animation: rotating 10s linear infinite;
    -moz-animation: rotating 10s linear infinite;
    -ms-animation: rotating 10s linear infinite;
    -o-animation: rotating 10s linear infinite;
    animation: rotating 10s linear infinite;
}

a, a:hover{ color: #F2F2F2; text-decoration: none; }
.btn-link, .btn-link:hover{ color: #F2F2F2; text-decoration: none; }
#nav {
    padding: 30px;
}

#nav a {
    font-weight: bold;
    color: #2c3e50;
}

a:hover,
#nav a.router-link-exact-active {
    color: #42b983;
}
html, body{ height: 100%; }
body{ background-color: #1c1c1c; overflow-x: hidden; max-width: 100%; }
img{ max-width: 100%; }
.form-control{ background: none; border: none; border-bottom: solid 1px #383838; border-radius: 0; outline: none !important; }
.form-control:focus{ background: none; outline: none; box-shadow: none; }

.icn{ position: relative; padding: 0 15px; }
.icn::before{ position: absolute; width: 15px; height: 15px; content: ''; left: 0; bottom: 0; right: 0; top: 0; margin: auto; }
.icn-arrow::before, .icn-arrow-right::before { background: url("arrow-white.png") no-repeat center; }
.icn-arrow-left::before { transform: rotate(180deg); }
.icn-arrow-up::before { transform: rotate(270deg); }
.icn-arrow-down::before { transform: rotate(90deg); }
.icn-fb::before { background: url("fb.png") no-repeat; }
.icn-instagram::before { background: url("instagram.png") no-repeat; }
.icn-twitter::before { background: url("twitter.png") no-repeat; padding: 0 16px; }
.icn-youtube::before { background: url("youtube.png") no-repeat; padding: 0 16px; }
.share-icons a{ margin-right: 9%; }


.t-8 { font-size: 8px; }
.t-10{ font-size: 10px; }
.t-12{ font-size: 12px; }
.t-14{ font-size: 14px; }
.t-16{ font-size: 16px; }
.t-18{ font-size: 18px; }
.t-20{ font-size: 20px; }
.t-22{ font-size: 22px; }
.t-24{ font-size: 24px; }

.h-1{ font-size: 1em; }
.h-2{ font-size: 2em; }
.h-3{ font-size: 3em; }
.h-4{ font-size: 4em; }
.h-5{ font-size: 5em; }
.h-6{ font-size: 6em; }
.h-7{ font-size: 7em; }
.h-8{ font-size: 8em; }
p{ line-height: 3em; }
.line-height-2 p{ line-height: 2em; }
.line-height-18 p{ line-height: 1.8em; }
.line-height-16 p{ line-height: 1.6em; }
.line-height-14 p{ line-height: 1.4em; }
.line-height-12 p{ line-height: 1.2em; }
.line-height-1 p{ line-height: 1em; }
.preloaderWrapper{ position: absolute; left: 0; right: 0; margin: auto; text-align: center; top: 0; bottom: 0; }
.preloaderWrapper img{   }
.center-me{ margin: auto; left: 0; right: 0; top: 0; bottom: 0; position: absolute; max-width: 177px; max-height: 177px; }

.rotate-90{ transform: rotate(90deg); }
.rotate-180{ transform: rotate(180deg); }
.rotate-270{ transform: rotate(270deg); }

.valign-middle{ position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; height: 0; }
.valign-bottom{ position: absolute;  bottom: 30%; left: 0; right: 0; margin: auto; height: 0; }

.three-col{ column-count: 3; column-gap: 15%; text-align: left; column-fill: auto; min-height: 120px; }

ul, li{ margin: 0; padding: 0; list-style: none; }
li{ padding: 1% 0; list-style: none; font-size: 36px; text-transform: capitalize; }
.servicesList li{font-size: 1.4em; }

.main-container{ overflow: hidden; min-height: 100%; }
.partsWrapper{ display: flex; flex-direction: column; min-height: 100vh; }
.partContent{ flex: 1 0 auto; }
.partFooter{ flex-shrink: 0; }

.brdr{ border-color: #383838 !important; border-width: 1px !important; }
.brdr-b{ border-bottom: solid; }
.brdr-t{ border-top: solid; }
.brdr-r{ border-right: solid; }
.brdr-l{ border-left: solid; }

.headNavbar{ height: 63px; }
.burgerWrapper{ padding-top: 3px; }
.navBurger{ width: 26px; height: 12px; padding: 0; display: block; border: 2px solid #fff; border-left: none; border-right: none; transition: transform 0.5s; margin-top: 0%; cursor: pointer; }
.navBurger.expanded{ transform: rotate(90deg); }

.nav-item{ transition: opacity 0.5s;  }
.faded{ opacity: 0 !important; }

.nav-item .nav-link{ /** font: Regular 18px/19px Questrial; */ font-weight: normal; font-size: 0.4em; text-align: left; padding: 0 3rem 0 0 !important; color: white; }
.nav-item.selected a, .nav-item a.router-link-exact-active, .nav-item a:hover{ color: #76FA4C; }

.mmenuList li a{ font-size: 1.2em; padding:0.5rem 1rem; }
.mmenuList li a.selected{  color: #76FA4C; }

.footerBar{  }
.mainViewWrapper{ min-height: 100%; }

.homePromoTitle{ text-align: left; font-size: 10vw; margin: 3vw 0 }
.logoWrapper{ margin: auto; width:20vw; position: absolute; left: 0; right: 0; top: 0; bottom: 0; height:20vw; max-width:177px; max-height:177px; }
.roundLogo{ max-width: 100%; text-align: center; }

.greenSpan span,
.text-green{ color: #76FA4C; }
.text-green:hover{ color: #909090; text-decoration: none; }
.text-softgray{ color: #909090; }

.homePromoTextWrapper{ position: relative; height: 100%; overflow: hidden; }
.homePromoText{ position: absolute; top: 0; }
.homePromoText .promoText{ font-size: 5vw; text-align: left; position: relative; z-index: 1; color: #f2f2f2; padding-right: 15%; line-height: 1.05em; }
.homePromoText img{ position: absolute; bottom: 0; top: 0; margin: auto; right: 8vw; z-index: 0; max-height: 100%; }

.fadding{ transition: opacity 1s; }
.fadeIn{ opacity: 1 !important; }
.fadeOut{ opacity: 0 !important; }

.projectsListCell{ overflow: hidden; }
.projectsListCell img{ max-width:none; transition: width 0.3s, margin 0.3s; width: 100%; }
.projectsListCell:hover img{ max-width:none; width: 150%; margin-top: -25%; margin-left: -25%; transition: width 0.7s, margin 0.7s; }

.projectCard{ display: inline-block; padding-bottom: 1rem; width: 25%; float: left; }
.projectCard .card{ background: #909090; border-radius: 0; border: none;  }
.projectViewImageWrapper{ background: #2a2a2a; padding: 2% 0; text-align: center; }
.projectViewImageWrapper img{  }

.awardTeaser{ font-size: 36px; padding-right: 15%; }
.awardTeaser span{ color: #76FA4C; }

.friendsWrapper{ vertical-align: middle; background: center no-repeat; position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.friendsWrapper img{ width: 94%; vertical-align: middle;  position: relative; /** left: 0; right: 0; top: 0; bottom: 0; margin: auto; */ display:inline-block; }

.content-bottom{ display: flex; align-items: flex-end; }

.projectCategories .btn-link{ display: flex; align-items: flex-end; font-size: small; padding: 0; }
.projectCategories .btn-link:hover{ color: #76FA4C; }
.projectCategories .router-link-exact-active, .projectCategories .router-link-active{ color: #76FA4C; }


.masonry {
    display: grid;
    grid-gap: 15px;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    grid-auto-rows: 0;
}


.fade-enter-active,
.fade-leave-active {
    transition: opacity 1s
}

.fade-enter,
.fade-leave-to
    /* .fade-leave-active in <2.1.8 */

{
    transition: opacity 1s;
    opacity: 0
}


@media only screen and (max-width: 768px) {
    .nav-item .nav-link{ font-size: 0.3em; }
    .homePromoText .promoText{ font-size: 10vw; }
    .homePromoText img{ top: auto;max-height: 60%; right: 14vw; }
    p{ line-height: 1.4em; }
    .t-20{ font-size: 12px; }
    .t-18{ font-size: 13px; }
}