<template>
  <div id="app" class="main-container">

      <div class="container-fluid partsWrapper" v-on:scroll="handleScroll">
        <div class="row partHeader">
          <div class="col-12 brdr brdr-b p-0">

            <div class="row pl-2 pl-md-4">
              <div class="col-12 headNavbar">

                <div class="float-left mt-3 ml-1">
                  <router-link :to="{name: 'home'}" class=""><img style="width: auto; height: 20px;" src="./assets/logo_brid.svg"></router-link>
                </div>

<!-- desktop menu-->
                <div class="d-none d-md-block burgerWrapper brdr brdr-l">
                  <div class="navBurger"
                       v-on:click="expanded = !expanded"
                       v-on:mouseover="expanded = 1"
                       v-bind:class="[$store.state.nav.expanded?'expanded':'']">

                    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                         viewBox="0 0 218.93 206.23" style="enable-background:new 0 0 218.93 206.23; width: 100%; height: 100%;" xml:space="preserve">

                      <rect y="-1.78" width="218.93" height="208.01" fill="none"/>
                      <g>
	<path class="st0" d="M126.41,118.71V95.46c0-3.8-1.54-7.23-4.03-9.72c-2.49-2.49-5.93-4.03-9.73-4.03h-0.01
		c-7.59,0-13.75,6.16-13.75,13.75v23.24c0,6.52-5.28,11.8-11.8,11.8h-7.86v7.86h7.86c5.43,0,10.35-2.2,13.9-5.76
		c3.56-3.55,5.76-8.47,5.76-13.9V95.46c0-3.25,2.64-5.89,5.9-5.89c1.63,0,3.1,0.66,4.16,1.73c1.07,1.06,1.73,2.54,1.73,4.16v5.61
		v17.63c0,17.37-14.08,31.45-31.45,31.45v0.01h-7.86v7.86h7.86c16.94,0,31.38-10.72,36.91-25.75c3.58,3.75,8.61,6.09,14.2,6.09h0
		v-7.86C131.69,130.5,126.41,125.22,126.41,118.71z"/>
                        <path class="st0" d="M112.65,62.05h-0.01c-18.45,0-33.41,14.96-33.41,33.41v23.24h7.86V95.46c0-7.06,2.86-13.44,7.48-18.07
		c4.63-4.62,11.01-7.48,18.07-7.48h0.01c14.11,0,25.55,11.44,25.55,25.55v23.24h7.86V95.46C146.06,77.01,131.1,62.05,112.65,62.05z"/>
                        <path class="st0" d="M112.65,42.39h-0.01c-29.31,0-53.07,23.76-53.07,53.07v15.38h7.87V95.46c0-12.48,5.06-23.79,13.24-31.97
		c8.18-8.18,19.48-13.24,31.97-13.24s23.79,5.06,31.97,13.24s13.24,19.49,13.24,31.97v35.04h7.86V95.46
		C165.72,66.15,141.96,42.39,112.65,42.39z"/>
</g>
</svg>

                  </div>
                </div>

<!-- mobile menu -->
                <div class="burgerWrapper d-md-none brdr brdr-l">
                  <router-link class="navBurger" v-if="!$store.state.nav.mobileMenu" :to="{name: 'mmenu'}" v-on:click="mobileMenu = 1"><img style="width: 100%; height: 100%;" src="./assets/id.svg"></router-link>
                  <router-link class="navBurger expanded" v-if="$store.state.nav.mobileMenu" :to="{name: $store.state.lastRoute}" v-on:click="mobileMenu = 0"><img style="width: 100%; height: 100%;" src="./assets/id.svg"></router-link>
                </div>

                <ul class="navbar-floating d-none d-md-block float-right" v-bind:class="[$store.state.nav.expanded?'':'faded']">
                  <template v-for="(menu, index) in $store.state.menu">
                    <li class="nav-item" v-bind:key="index">
                      <router-link class="nav-link" :to="{name: index}">
                        {{menu}}
                      </router-link>
                    </li>
                  </template>
                </ul>


              </div>

            </div>

          </div>
        </div>

        <div class="row partContent">
          <div class="col-12 p-0 mainViewWrapper">
            <transition name="slide-fade" mode="out-in">
              <router-view/>
            </transition>
          </div>
        </div>

        <div class="row partFooter brdr brdr-t p-1">

<!--          <div class="col-3">-->
<!--            <div class="float-left" v-if="scrollBottom()">-->
<!--              <span class="d-none d-md-block">Scroll<i class="icn icn-arrow icn-arrow-down"></i> </span>-->
<!--              <span class="d-md-none"> <i class="icn icn-arrow icn-arrow-down"></i> </span>-->
<!--            </div>-->
<!--          </div>-->

          <div class="col-12 footerBar">
              <ul class="footer-navbar float-right">
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_behance')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_behance')" target="_blank">Behance</a>
                </li>
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_fb')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_fb')" target="_blank">Facebook</a>
                </li>
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_instagram')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_instagram')" target="_blank">Instagram</a>
                </li>
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_twitter')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_twitter')" target="_blank">Twitter</a>
                </li>
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_dribbble')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_dribbble')" target="_blank">Dribbble</a>
                </li>
                <li class="nav-item" v-if="_.get($store.state.indx, 'contact.meta.content_share_youtube')!=''">
                  <a v-bind:href="_.get($store.state.indx, 'contact.meta.content_share_youtube')" target="_blank">Youtube</a>
                </li>


              </ul>
          </div>

        </div>




      </div>

  </div>
</template>




<script>

    import _ from 'lodash';

export default {
    components: {  },

    data: function(){
        return {
            mainHeights: 0,
            expanded: 0, /// nav menu position
            mobileMenu: 0, /// mobile menu status
            // lastRoute: 'home', /// mobile menu status
            preloader: 1
        }
    },

    mounted: function(){

        //        window.addEventListener('scroll', this.handleScroll);

        window.document.body.onscroll = function() {
//            console.log(123);
        }

    },

    watch: {
        mobileMenu: function () {
          this.$store.commit('setNav', { mobileMenu: this.mobileMenu });
        },

        expanded: function () {
          this.$store.commit('setNav', { expanded: this.expanded });
        },

        '$route.name': {
          immediate: true,
          handler: function () {
            this.mobileMenu = (this.$route.name == 'mmenu')?1:0;
            if(this.$route.name != 'mmenu'){
              this.$store.commit('SetState', {key:'lastRoute', val:this.$route.name})
            }

            // if(this.$route.name == 'projects'){
            //   this.$store.commit('setNav', { expanded: 0 });
            // }else{
            //   this.$store.commit('setNav', { expanded: 1 });
            // }

            if(this.$route.name != 'home'){
              var list = document.getElementsByTagName("canvas");
              for(var i in list){
                if(!list[i] || typeof list[i] != "object")continue;
                list[i].remove();
              }
            }


          }
        },
      
        '$store.state.indx': function () {
          let self = this;
            if(this.$store.state.indx.home){
              setTimeout(function () {
                self.preloader = 0;
              }, 3000)

            }else{
                this.preloader = 1;
            }
        }
    },

    computed: {
        mainTitle: function () {
            return _.get(this.$store.state.indx, 'home.post_title');
        },

      _: function(){
        return _;
      }
    },

    methods: {

        handleScroll: function (event) {
            // your code here
            console.log(event);
        },

      scrollBottom: function(){
          if(this.$route.name == 'projects')return true;
          if(this.$route.name == 'studio')return true;
          return false;
      },
        test: function(){

        }
    }

};
</script>

